<a href="https://colab.research.google.com/github/FabianaRSFF/Colab/blob/main/amostragem_sistematica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from math import ceil

In [2]:
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
print(k)

10

In [7]:
r = np.random.randint(low = 1, high=k + 1, size=1)
print(r)

[10]

In [10]:
acumulador = r[0]
sorteados = []
for i in  range(amostra):
  sorteados.append(acumulador)
  acumulador += k
print(sorteados)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [5]:
len(sorteados)

15

In [12]:
base = pd.read_csv('dados.csv')
base_final = base.loc[sorteados]
base_final

         CODIGO;MUNICIPIO;PIB;VALOREMPENHO
10       36;DOM PEDRITO;19013.71;371857.25
20         79;MOSTARDAS;19565.25;284378.16
30           59;GUAPORE;18161.99;213430.42
40       280;IBIRAPUITA;14493.69;155862.98
50        162;AJURICABA;20784.67;180603.16
60      487;PEDRAS ALTAS;23555.6;172711.88
70          179;CAIBATE;16351.42;108141.69
80       225;SAO MARTINHO;16194.66;97248.7
90           163;ALECRIM;11431.18;70277.71
100          479;CRUZALTENSE;15521;69924.8
110         7;ARVOREZINHA;12322.75;53848.5
120           28;CATUIPE;16817.21;57760.46
130        201;JACUTINGA;19989.87;58058.46
140  274;FAGUNDES VARELA;26973.38;63579.04
150         211;PEJUCARA;29005.14;59830.97