<a href="https://colab.research.google.com/github/FabianaRSFF/Colab/blob/main/amostragem_simples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
base = pd.read_csv('tempo.csv')
base

   Aparencia;Temperatura;Umidade;Vento;Jogar
0                        sol;85;85;FALSO;nao
1                   sol;80;90;VERDADEIRO;nao
2                    nublado;83;86;FALSO;sim
3                        chuva;70;;FALSO;sim
4                      chuva;68;80;FALSO;sim
5                 chuva;65;70;VERDADEIRO;nao
6                 menos;64;65;VERDADEIRO;sim
7                      sol;1220;95;FALSO;nao
8                        sol;69;70;FALSO;sim
9                          chuva;75;200;;sim
10                  sol;75;70;VERDADEIRO;sim
11              nublado;72;90;VERDADEIRO;sim
12                   nublado;81;75;FALSO;sim
13                chuva;71;91;VERDADEIRO;nao

In [4]:
base.shape

(14, 1)

In [18]:
np.random.seed(2345)
amostra = np.random.choice(a = [0, 1], size = 14, replace = True, p = [0.7, 0.3])
len(amostra)
len(amostra[amostra==1])
len(amostra[amostra==0])

10

In [19]:
base_final = base.loc[amostra == 0]
base_final.shape

(10, 1)