<a href="https://colab.research.google.com/github/FabianaRSFF/Colab/blob/main/exercicesaleatoire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def outer():
  x = 10
  def inner():
    nonlocal x
    x += 5
    def inside_inner():
      nonlocal x
      x *=2
    inside_inner()

  inner()
  return x

print(outer())

30

In [ ]:
def func1(words, nums):
  result = tuple(w[:][0] for w in words or nums)
  return result 

tuple_of_words  = ("apple", "banana", "cherry")
list_of_nums = [1, 2, 3]
print(func1(tuple_of_words, list_of_nums))

('a', 'b', 'c')

In [ ]:
def outer():
  x = 1

  def inner():
    x = 2
    return 2

  inner()
  return x

print(outer())

1

In [ ]:
x = 3
def outerouter():
  x = 7
  def outer():
    nonlocal x

    def inner():
      global x 
      x = 9
      print(x)

    inner()
    print(x)
  outer()
  print(x) 

outerouter()
print(x)

9
7
7
9

In [ ]:
a = 'Pythonp'
print(a.index("p"))

6

In [ ]:
def func(arr1, arr2):
  return any(True if x == y else False for x in arr1 for y in arr2)

print(func([1, 2, 3], [4, 3, 2, 1]))

True

In [ ]:
def my_function():
  try:
    print("Hello")
    return 
  finally:
    print("World")
my_function()

Hello
World

In [ ]:
def func():
  a, *b=["Harry", "Precious", "Peter"]
  names = b
  return "Harry" in [names]

print(func())

False

In [ ]:
import itertools

class Repeat:
  def __init__(self, value="world"):
    self.value = value

  def __iter__(self):
    return itertools.repeat(self.value)

rf = Repeat("Hello")
rf = Repeat()
print(list(itertools.islice(rf, 3)))

['world', 'world', 'world']

In [ ]:
class Counter:
  def __init__(self):
    self.count = 0
  def increment(self):
    self.count += 2
  def decrement(self):
    self.count -= 2
  def get_count(self):
    return self.count 

c1 = Counter()
c2 = Counter()

c1.increment()
c1.increment()

c1.decrement()
print(c2.get_count())

0

In [ ]:
my_num = 34
converted_my_num = str(my_num)
print(converted_my_num)

34

In [ ]:
from posixpath import join
my_list = ["Fabi", "Ana", "França"]
converted_my_list = ' ''de'' '.join(my_list)
print(converted_my_list)

Fabi de Ana de França

In [ ]:
a = {1, 2, 3}
b = {1, 2, 3}
print(*(a + b))

TypeError: ignored

In [ ]:
Python = (4, 5, 6, 7, 8)
Python = Python[2:]
Python = Python[2:]+(8,)
print(Python)

(8, 8)

In [ ]:
def func(a):
  if type(a) == list:
    a[0]= 2
  return x
x=(1, 2, 3)
print(func(x))

(1, 2, 3)

In [ ]:
def func(lst):
  for i in range(len(lst)):
    lst[i] *= lst[i]
  return lst
  
lst = [2]
func(lst)
print(func(lst))

[16]

In [ ]:
def func(lst):
  for i in lst:
    return i

lst = [3]
func(lst)
print(func(lst))

3

In [ ]:
def func(lst):
  for i in range(len(lst)):
    lst[i] *= lst[i]
  return lst

lst = [4]
func(lst)
print(func(lst))

[256]

In [ ]:
def func(lst):
  for i in range(len(lst)):
    lst[i] *= lst[i]
  return lst

lst = [3]
func(lst)
print(func(lst))

[81]

In [ ]:
some_string='Python'
some_dict={}
for i, some_dict[i] in enumerate(some_string):
  i=10
print(some_dict)

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [ ]:
mixed_values="learn python", {2}, 4
print(type(mixed_values))

<class 'tuple'>

In [ ]:

(x := [1, 2, 3]).extend(x)
print(x)

[1, 2, 3, 1, 2, 3]

In [ ]:
const Array = [2, 6, 6, 3, 2, 8, 2]
const newArray = newSet Array

In [ ]:
print({key:value for key, value in enumerate("abcde")})

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [ ]:
with open("foo.txt", "w") as f:
  f.write('Hello from Python!')

In [ ]:
hash(float('inf'))
314159
hash(float('nan'))
0

0

In [ ]:
def func_list():
  arr = [x for x in range(1, 6, 2)]
  arr1 = arr
  arr1.append(10)
  return *arr,

print(func_list())

(1, 3, 5, 10)

In [ ]:
arr = [[]]
arr[0].append(2)

print(arr)

[[2]]

In [ ]:
number = 10
def f():
  number = 20

f()
print(number)

10