<a href="https://colab.research.google.com/github/FabianaRSFF/Colab/blob/main/functions%26lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Função que recebe outra função como parâmetro e retorna o valor da função 2 executada.
# Faça a função 1 executar duas funções que recebam um número diferente de argumentos.
def func1(*args, **kwargs):
  print(args, kwargs)

def func2(args, kwargs):
  args = "valor2"
  kwargs = "valor3"
  return func1

  

"""func1(args= "valor2", kwargs="valor3")
func2(args= "valor2", kwargs="valor3")"""

'func1(args= "valor2", kwargs="valor3")\nfunc2(args= "valor2", kwargs="valor3")'

In [ ]:
def master(func, *args, **kwargs):
  return func(*args, **kwargs)

def hello(name):
  return f'Hello {name}!'

def salut(name, salut):
  return f'{salut} {name}!'


exec = master(salut, "Fabiana", "Bonjour")
exec1 = master(hello, 'Fabiana')
print(exec)
print(exec1)

Bonjour Fabiana!
Hello Fabiana!

In [ ]:
def hello_world():
  return "Hello World!"

def master(func):
  return func()

exec = master(hello_world)
print(exec )

Hello World!

In [ ]:
a = lambda x, y: x * y
print(a(2, 5))

10

In [ ]:
list_1= [
       ['P1', 13],
       ['P2', 45],
       ['P3', 12],
       ['P4', 29],
       ['P5', 19]
]

def func1(item):
  return item[0]

def func2(item):
  return item[1]

list_1.sort(key=func1, reverse=True)
print(list_1)

[['P5', 19], ['P4', 29], ['P3', 12], ['P2', 45], ['P1', 13]]

In [ ]:
list_2 = [
          ["F1", 28],
          ["F2", 2],
          ["F5", 200],
          ["F1", 65],
          ["F8", 280],
]

list_2.sort(key=lambda item:item[1])
print(list_2)

[['F2', 2], ['F1', 28], ['F1', 65], ['F5', 200], ['F8', 280]]

In [ ]:
l1 = [10, 20, 30 ,40 ,50, 60, 70, 80, 90, 100 ]
for v in l1:
  print(v)
l2 = [v for v in l1]
print(l2)
l3 = [v * 2 for v in l1]
print(l3)
l4 = [(v, v2) for v in l1 for v2 in range(3)]
print(l4)

10
20
30
40
50
60
70
80
90
100
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]
[(10, 0), (10, 1), (10, 2), (20, 0), (20, 1), (20, 2), (30, 0), (30, 1), (30, 2), (40, 0), (40, 1), (40, 2), (50, 0), (50, 1), (50, 2), (60, 0), (60, 1), (60, 2), (70, 0), (70, 1), (70, 2), (80, 0), (80, 1), (80, 2), (90, 0), (90, 1), (90, 2), (100, 0), (100, 1), (100, 2)]

In [ ]:
f1 = list(range(100))
ex1 = [v if v % 3 == 0 else "o" for v in f1]
print(ex1)

[0, 'o', 'o', 3, 'o', 'o', 6, 'o', 'o', 9, 'o', 'o', 12, 'o', 'o', 15, 'o', 'o', 18, 'o', 'o', 21, 'o', 'o', 24, 'o', 'o', 27, 'o', 'o', 30, 'o', 'o', 33, 'o', 'o', 36, 'o', 'o', 39, 'o', 'o', 42, 'o', 'o', 45, 'o', 'o', 48, 'o', 'o', 51, 'o', 'o', 54, 'o', 'o', 57, 'o', 'o', 60, 'o', 'o', 63, 'o', 'o', 66, 'o', 'o', 69, 'o', 'o', 72, 'o', 'o', 75, 'o', 'o', 78, 'o', 'o', 81, 'o', 'o', 84, 'o', 'o', 87, 'o', 'o', 90, 'o', 'o', 93, 'o', 'o', 96, 'o', 'o', 99]