<a href="https://colab.research.google.com/github/FabianaRSFF/Colab/blob/main/review_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.freecodecamp.org/learn/scientific-computing-with-python

https://www.freecodecamp.org/learn

In [ ]:
found = False
print("Before", found)
for value in [4, 41, 21, 3, 45, 8]:
  if value == 3:
    found = True
    print(found, value)
print("After", found)

Before False
True 3
After True

In [ ]:
largest_so_far = -1
print("Before", largest_so_far)
for the_num in [4, 41, 21, 3, 45, 8]:
  if the_num > largest_so_far:
    largest_so_far = the_num
    print(largest_so_far, the_num)

print("After", largest_so_far)

Before -1
4 4
41 41
45 45
After 45

In [ ]:
smallest_so_far = 100
print("Before", smallest_so_far)
for the_num in [4, 41, 21, 3, 45, 8]:
  if the_num < smallest_so_far:
    smallest_so_far = the_num
    print(smallest_so_far, the_num)

print("After", largest_so_far)

Before 100
4 4
3 3
After 45

In [ ]:
smallest = None
print("Before")
for value in [4, 41, 21, 3, 45, 8]:
  if smallest is None:
    smallest = value
  elif value < smallest:
    smallest = value
    print(smallest, value)
print("After", smallest)

Before
3 3
After 3

In [ ]:
word = "bananana"
i = word.find("na")
print(i)

2

In [ ]:
word = "banana"
count = 0
for letter in word:
  if letter == "a":
    count = count + 1
print(count)

3

In [ ]:
friends = ["Glenn", "Sally", "Joseph"]
for friend in friends:
  print("Hello", friend)

print("Done")

Hello Glenn
Hello Sally
Hello Joseph
Done

In [ ]:
list = (2, 4, 6, 8 )
9 in list
2 in list

True

In [ ]:
list = (2, 42, 60, 18, 32, 99, 81 )
print(len(list))
print(max(list))
print(min(list))
print(sum(list))
print(sum(list)/ len(list))

7
99
2
334
47.714285714285715

In [ ]:
numlist = []
while True:
  inp = input("Enter a number: ")
  if inp == 'done': break
  value = float(inp)
  numlist.append(value)

average = sum(numlist)/ len(numlist)
print("Average: ", average)

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: done
Average:  4.0

In [ ]:
total = 0
count = 0
while True:
  inp = input("Enter a number: ")
  if inp == 'done': break
  value = float(inp)
  total = total + value
  count = count + 1
  

average = total / count
print("Average: ", average)

Enter a number: 5
Enter a number: 8
Enter a number: 2
Enter a number: 8
Enter a number: done
Average:  5.75

In [ ]:
purse = dict()
purse["money"] = 20
purse["mobile"] = 1
purse["document"] = 3
purse["candy"] = 4
print(purse)
purse["candy"] = purse["candy"] + 2
print(purse["candy"])

{'money': 20, 'mobile': 1, 'document': 3, 'candy': 4}
6

In [ ]:
counts = { 'quincy' : 1 , 'mrugesh' : 42, 'beau': 100, '0': 10}
print(counts.get('kris', 0))

0

In [ ]:
counts2 = dict()
print("Enter a line of text: ")
line = input('')
words = line.split()
print("Words: ", words)
print("Counting... ")
for word in words:
  counts2[word] = counts2.get(word, 0) + 1
print("Counts: ", counts2)

Enter a line of text:
Rodrigo is the best and the rest is the rest.
Words:  ['Rodrigo', 'is', 'the', 'best', 'and', 'the', 'rest', 'is', 'the', 'rest.']
Counting...
Counts:  {'Rodrigo': 1, 'is': 2, 'the': 3, 'best': 1, 'and': 1, 'rest': 1, 'rest.': 1}